title = "products"
layout = "default"
url = "/products"

[ProductList]
[CategoryList]
==
{% set arProductList = ProductList.make().active().take() %}

<!-- Main Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Danh Sách Sản Phẩm</h1>
            <p class="text-center">Dưới đây là những sản phẩm nổi bật của chúng tôi.</p>
        </div>
    </div>

    <div class="row">
        {% for product in arProductList %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Sản phẩm 1">
                    <div class="card-body">
                        <input class="id" type="hidden" value="{{product.id}}">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.preview_text}}</p>
                        {% for offer in product.offer %}
                            <p class="card-price">{{offer.price}}</p>
                        {% endfor %}
                        <a href="product/{{product.slug}}" class="btn btn-primary">Xem chi tiết</a>
                        <button class="btn btn-success ml-2 add-to-cart"><i class="fas fa-cart-plus"></i> Thêm vào giỏ hàng</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
